header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
}
.logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat, repeat;
    background-origin: content-box;
    padding-left: 20px;
    height: 60px;
    width: 142px;
}
